

.contain {
    flex: 0%;
    //vertical-align:middle;
    //text-align: center;
    align-items: center;
    text-align: center;
    align-content: center;
}
.result {
    padding-left: 40px;
}

.button {
    padding-top: 200px;
}

.list {
    //vertical-align:middle;
    align-items: center;
    text-align: center;
    align-content: center;
}