kitapp/node_modules/
.DS_Store
*.log
kitapp/dist/npm/
kitapp/dist/
kitapp/yarn.lock
*.lock
kitapp/package-lock.json

v3_kitapp/dist/
v3_kitapp/deploy_versions/
v3_kitapp/.temp/
v3_kitapp/.rn_temp/
v3_kitapp/node_modules/
v3_kitapp/.DS_Store
