@import "~taro-ui/dist/style/components/flex.scss";
@import "./../../../../theme.scss";

.result {
    padding-left: 40px;
}
.begin{
    padding-left: 20px;
    width: 200px;
}
.mid {
    padding-left: 20px;
   width: 200px;
}
.third {
    padding-left: 20px;
    width: 320px;
 }
 .extion{
    flex-direction:'row';
    text-align: 'left'
 }