@import "~taro-ui/dist/style/components/radio.scss";
@import "~taro-ui/dist/style/components/button.scss";
@import "~taro-ui/dist/style/components/loading.scss";
@import "~taro-ui/dist/style/components/divider.scss";
@import "~taro-ui/dist/style/components/toast.scss";
@import "~taro-ui/dist/style/components/card.scss";
@import "~taro-ui/dist/style/components/grid.scss";
@import "~taro-ui/dist/style/components/icon.scss";
@import "~taro-ui/dist/style/components/tab-bar.scss";
@import "~taro-ui/dist/style/components/badge.scss";
@import "../node_modules/taro-ui/dist/style/themes/red.scss";
@import "~taro-ui/dist/style/components/accordion.scss";
@import "~taro-ui/dist/style/components/list.scss";
@import "~taro-ui/dist/style/components/switch.scss";
@import "~taro-ui/dist/style/components/input.scss";


.contain {
  flex: 0%;
  padding-left: 25px;
  padding-right: 25px;
  //vertical-align:middle;
  //text-align: center;
}
.title{
  flex: 0%;
  text-align: center;
  font: 30px sans-serif;
  vertical-align: middle;
  line-height: 50px;
}

.question{
  font: 30px sans-serif;
  line-height: 50px;
} 
.result{
  font: 20px sans-serif;
} 